*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/src/main/assets/config.json
app/src/main/assets/model.onnx
app/src/main/assets/special_tokens_map.json
app/src/main/assets/tokenizer.json
app/src/main/assets/tokenizer_config.json